



header{
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 1%;
    margin: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    border-radius: 8px;
}



.btn-pink {
    background-color: #ff69b4; /* Pink color code */
    color: #fff; /* Text color */
    /* Add any other styles as needed */
}